.reset-password-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff,#f5fcf4,#e6f8e6);
}
.reset-password-section h3{
    margin: 5rem 0rem 2.5rem 0rem;
    font-size: 1.3rem;
}

.reset-password-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset-password-container, .reset-confirm-password-container{
    width: 20rem;
    display: flex;
    flex-direction: column;
}
.reset-password-container{
    margin-bottom: 1rem;
}
.reset-password-container label, .reset-confirm-password-container label{
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}
.reset-password-container .reset-password, .reset-confirm-password-container .reset-confirm-password{
    display: flex;
    position: relative;
}
.reset-password-container .reset-password input, .reset-confirm-password-container .reset-confirm-password input{
    width: 20rem;
    border-radius: .8rem;
    border: 2px solid rgb(88, 87, 87);
    padding: .4rem .5rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    background: transparent;
}
.reset-password-section .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-btn-icon{
    position: absolute;
    right: 0.4rem;
    top: 0.6rem;
}

.reset-password-section .btn-container button{
    width: 50%;
    margin: 2rem 0rem 0rem 0rem;
    padding: .5rem 0rem;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    background-color: #087125;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.reset-password-section .btn-container h4{
    margin: 1rem;
    font-size: .90rem;
    font-weight: 600;
}
.reset-password-section .btn-container h4 a{
    text-decoration: none;
    color: #0c9709;
}