*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Koh Santepheap", serif;
}
.login-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
}
.doctor-img-container{
    width: 60%;
    height: 100%;
}
.doctor-img-container img{
    width: 100%;
    height: 100%;
}
.login-container{
    width: 40%;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff,#f5fcf4,#e6f8e6);
}
.logo{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
.logo img{
    width: 9rem;
    height: 2.5rem;
    margin-right: 5rem;
    border-radius: .5rem;
}
.main-form{
    margin-top: 3rem;
}
.title p{
    margin-left: 5rem;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .4px;
    text-align: center;
}
.title p img {
    width: 1rem;
    height: 1.2rem;
}
.main-form form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main-form .email, .main-form .password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}
.main-form form label{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .7rem;
    width: 50%;
}
.main-form form input::placeholder{
    font-size: .7rem;
}
.eye-btn, .mail{
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: .7rem;
    -webkit-top: 9.5rem;
    font-size: 1.2rem;
}
.mail{
    font-size: 1.1rem;
}
.main-form .text{
    display: flex;
    font-size: .8rem;
    gap: 2.5rem;
    width: 50%;
    align-items: center;
    margin: .7rem;
    font-weight: 600;
}
.create-account{
    text-decoration: none;
    color: #0c9709;
}
.btn-forget{
    text-decoration: none;
    color: #0c9709;
}
.btn-submit{
    margin-top: 1.3rem;
    width: 38%;
    padding: .7rem 0rem;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    background-color: #087125;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    transition: .3s;
}
.btn-submit:hover{
    background: #538e41;
}
.login-section-logo{
    display: none;
}
.email-input-container, .password-input-container{
    width: 50%;
    position: relative;
}
.email-input-container input, .password-input-container input{
    width: 100%;
    border-radius: .6rem;
    border: 1.5px solid rgb(88, 87, 87);
    padding: .7rem 2rem .4rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    background: transparent;
}



@media (max-width:1024px) {
    .login-section{
        flex-direction: column;
    }
    .doctor-img-container{
        width: 100%;
        height: 100%;
    }
    .login-container{
        width: 100%;
        height: 100%;
    }
    .main-form form label{
        width: 90%;
    }
    .email-input-container, .password-input-container{
        width: 90%;
    }
    .email-input-container input, .password-input-container input{
        width: 100%;
    }
    .main-form{
        margin-top: 1rem;
    }
    .main-logo{
    width: 6.5rem;
    height: 2.6rem;
    border-radius: .3rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    }
    .main-logo img{
    width: 6.5rem;
    height: 2.6rem;
    border-radius: .3rem;
    }
    .main-form form{
        margin-top: 0.4rem;
    }
    .main-form .text{
        width: 90%;
        justify-content: space-between;
        font-size: 1rem;
    }
    .login-section-logo{
        display: block;
        margin-top: 3rem;
        margin-left: 1rem;
    }
    .logo{
        display: none;
    }
    .main-form .title{
        margin: 1rem 0rem 2rem 0rem;
    }
    .title p{
        margin-left: 3rem;
    }
    .doctor-img-container{
        display: none;
    }
    .main-form .btn-submit{
        margin-top: 3.6rem;
        width: 50%;
        background-color: #087125;
    }
}

/* signup section */
.signup-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
}
.signledoctor-img-container{
    width: 40%;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff,#f5fcf4,#e6f8e6);
}
.signup-container{
    width: 60%;
    height: 100%;
    background: url("./assets/single_doctor.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-container{
    width: 60%;
    margin-top: 3rem;
    height: 30vh;
    background: #fff;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: .4px .4px 1px rgba(0,0,0,0.1);
}
.welcome{
    font-size: 1.3rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-shadow: 2.5px 2.5px 3px rgba(0,0,0,0.3);
}
.welcome-container img{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0rem .2rem;
}
.welcome-container p{
    margin-top: 1rem;
    /* width: 55%; */
    opacity: 0.7;
    font-size: 1.5rem;
}
.welcome-container h4{
    margin-top: .4rem;
    background: linear-gradient(to left, #1fde99, #1d694e);
    font-size: 1.5rem;
    background-clip: text;
    color: transparent;
}
.logo-pharm{
    justify-content: flex-start;
    margin-left: 4rem;
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 8rem;
    margin-top: 1.5rem;
}
.signup .signup-title h3{
    font-size: 1.3rem;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}
.signup label{
    font-weight: 600;
    font-size: .85rem;
    margin-bottom: .3rem;
}
.signup .signup-title p{
    font-size: .85rem;
    font-weight: 600;
    margin-top: .8rem;
}
.login-here{
    color: #2E8ADE;
}
.signup .name{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem 0rem;
}
.signup .name div{
    display: flex;
    gap: 1rem;
}
.signup .birth-date, .gender, .email-address, .password, .confirm-password{
    display: flex;
    flex-direction: column;
}

.signup .birth-date input,.signup .name input{
    width: 30%;
}
.signup .birth-date input{
    width: 35%;
    color: black;
}
.signup input{
    border-radius: .8rem;
    border: 2px solid rgb(88, 87, 87);
    padding: .4rem .5rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    background: transparent;
}
.signup .gender{
    margin: .8rem 0rem;
}
.signup .gender select{
    background-color: transparent;
    width: 20%;
    padding: .3rem;
    height: 10%;
    border-radius: .2rem;
    border: 1px solid rgb(88, 87, 87);
    outline: none;
    color: black;
}
.signup-input-container{
    width: 65%;
    position: relative;
}
.signup-input-container input{
    width: 100%;
}
.signup .password{
    margin: .5rem 0rem;
    position: relative;
}
.signup .checkbox{
    display: flex;
    gap: 2rem;
    margin: .8rem 0rem;
}
.checkbox p{
    font-size: .7rem;
    width: 50%;
    opacity: .7;
}
.signup .confirm-password, .signup .email-address{
    position: relative;
}
.signup .lock,.signup .envelope,.signup .eye-close{
    position: absolute;
    font-size: 1.1rem;
    cursor: pointer;
    top: 2rem;
    right: 11rem;
    -webkit-top: 2rem;
    -webkit-right:11rem;
    transition: .3s;
}
.btn-signup{
    text-decoration: none;
    padding: .6rem 1.4rem;
    text-align: center;
    margin-top: 1rem;
}
.sigup-btn-container{
    margin-left: 2rem;
    margin-top: 1rem;
}

#checkbox{
    accent-color: black;
}
.hidden-container{
    display: none;
}

@media (max-width:1024px) {
    .signup-section{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to bottom, #ffffff,#f5fcf4,#e6f8e6);
    }
    .signup .name input::placeholder{
        font-size: .8rem;
    }
    .signledoctor-img-container{
        width: 100%;
        height: 75vh;
        padding-bottom: 1rem;
        background: linear-gradient(to bottom, #ffffff, #f5fcf4, #e6f8e6);
    }
    .signup-container{
        width: 100%;
        height: 47vh;
        display: none;
    }
    .welcome-container{
        margin-top: .5rem;
        height: 18vh;
        width: 65%;
    }
    .welcome{
        font-size: .88rem;
    }
    .welcome-container p{
        font-size: .7rem;
    }
    .welcome-container h4{
        font-size: .9rem;
    }
    .signup{
        margin-top: .3rem;
        margin-left: 1rem;
    }
    .signup .signup-title h3{
        font-size: 1.1rem;
    }
    .signup .signup-title p{
        margin-top: 0.2rem;
    }
    .signup .name{
        margin: .3rem;
    }
    /* .signup .email-address input, .signup .password input, .signup .confirm-password input{
        width: 90%;
    } */
    .signup-input-container{
        width: 90%;
    }
    .signup-input-container input{
        width: 100%;
    }
    .signup input{
        padding: .4rem .3rem;
        border-radius: .5rem;
    }
    .checkbox p{
        width: 75%;
    }
    .signup .gender{
        margin: .3rem 0rem;
    }
    .sigup-btn-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0rem;
    }
    .signup .btn-submit{
        width: 50%;
        padding: .8rem;
        font-size: .8rem;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .signup .password{
        margin: .3rem 0rem;
    }
    .hidden-container{
        display: block;
        margin-top: 3rem;
        padding: 0rem .3rem;
    }
    .signup-logo-section .signup-logo .logo{
        width: 7rem;
        height: 2.5rem;
        border-radius: .3rem;
    }
    .signup-logo{
        margin-left: 1rem;
    }
    .signup-logo-section .signup-logo img{
        width: 7rem;
        height: 2.5rem;
        border-radius: .3rem;
    }
    .signup-logo-section h3{
        margin-left: 3rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }
    .signup-logo-section p{
        margin-top: .6rem;
        width: 90%;
        text-align: center;
    }
    .signup-logo-section h3 img{
        width: 1.4rem;
        height: 1.4rem;
    }
    .signup .lock,.signup .envelope,.signup .eye-close{
        right: 8rem;
    }
}

.giv-logo{
    width: 6.5rem;
    height: 2.5rem;
    border-radius: .3rem;
}
.giv-logo img{
    width: 7rem;
    height: 2.5rem;
    border-radius: .3rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    padding: 0rem 3%;
    align-items: center;
    background: #fff;
    z-index: 10;
    transition: .3s;
}
.burger-section .burger{
    font-size: 2rem;
    color: #0db879;
    cursor: pointer;
    font-weight: 200;
    transition: .3s;
}

.main-landing-section{
    width: 100%;
    display: flex;
    min-height: 90vh;
    margin-top: 2rem;
    margin-top: 12vh;
}
.nurse-section{
    width: 60%;
    display: flex;
    justify-content: end;
}
.nurse-img-container{
    width: 95%;
    height: 80vh;
    border-radius: .7rem;
}
.nurse-img-container img{
    width: 100%;
    height: 80vh;
    border-radius: .7rem;
    object-fit: cover;
}
.get-started-section{
    width: 40%;
    margin-top: 5rem;
    margin-left: 1.5rem;
}
.get-started-title p{
    margin-top: .2rem;
    opacity: .7;
}
.get-started-title .try{
    margin-top: 1.7rem;
}
.btn-get-started{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background: #087125;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: .6rem 0rem;
    border-radius: .4rem;
}
.get-started-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11rem;
}
.burger-btn{
    border: none;
    background: transparent;
    transition: 0.3s;
}
.nav-links{
    position: absolute;
    top: 10vh;
    right: 0;
    height: 90vh;
    width: 20%;
    background: #BAF9C1;
    padding: 1.5rem;
    transform: translateX(100%);
    transition: .5s ease-in-out;
}
.nav-links ul li{
    list-style: none;
}
.nav-links ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
    margin-bottom: 2rem;
}
.nav-links ul li a span{
    margin-right: .6rem;
}
.open-nav-links{
    transform: translateX(0%);
}
.forgot-password{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forgot-password h3{
    margin: 4rem 0rem 1rem 0rem;
}
.forgot-password p{
    width: 30%;
    opacity: .9;
}
.forgot-password form{
    margin-top: 2rem;
}
.forgot-password-input{
    display: flex;
    flex-direction: column;
}
.forgot-password label{
    margin-bottom: .4rem;
    font-weight: 600;
}
.forgot-password input{
    width: 20rem;
    border-radius: .8rem;
    border: 2px solid rgb(88, 87, 87);
    padding: .4rem .5rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    background: transparent;
}
.forgot-password-container{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgot-btn{
    color: white;
    border: none;
    background: #087125;
    width: 50%;
    padding: .5rem;
    border-radius: .4rem;
    font-size: 1rem;
    font-weight: 600;
}
.forgot-password h5{
    margin-top: 1.5rem;
    margin-left: 2rem;
    font-weight: 600;
    font-size: .9rem;
}
.forgot-password h5 a{
    text-decoration: none;
    color: #0c9709;
}
.disableBtn{
    background: #48624f;
}
.disableBtn:hover{
    background: #48624f;
}

@media (max-width: 1024px) {
    .main-landing-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 90vh;
        margin-top: 12vh;
    }
    .nurse-section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nurse-img-container{
        height: 45vh;
        border-radius: .35rem;
    }
    .nurse-img-container img{
        height: 45vh;
        border-radius: .35rem;
    }
    .get-started-section{
        width: 100%;
    }
    .get-started-section{
        margin: 2.3rem 0rem;
        padding: .4rem;
    }
    .get-started-title p{
        font-size: .9rem;
    }
    .get-started-title .try{
        margin-top: 1rem;
    }
    .get-started-btn-container{
        margin-top: 3rem;
    }
    .btn-get-started{
        width: 50%;
        padding: .7rem 0rem;
    }
    .burger-section .burger{
        font-size: 1.7rem;
    }
    .nav-links{
        width: 100%;
    }
    .nav-links li a{
        font-size: 1.2rem;
    }
    .forgot-password h3{
        margin: 1rem 0rem 1rem 0rem;
    }
    .forgot-password p{
    width: 85%;
    font-size: 1rem;
    }
    .forgot-password-container{
        margin-top: 4rem;
    }
}